@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Varela&display=swap');

.core {
    margin: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    width: 60%;
    height: 50vh;
    /* background-color: rgb(255, 0, 0); */
    font-family: 'Varela', sans-serif;
    color: #ffff;
}

.core h1 {
    font-weight: 800;
}

.core h4 {
    margin-left: 8px;
    margin-top: 30px;
    font-weight: 400;
}

.resume {
    background-color: #1e1e1e;
    width: 132px;
    /* Flexbox Start */
    justify-content: center;
    /* Flexbox End */
    font-size: 14px;
    font-weight: bold;
    border: 3px solid #1b1b1b;
    border-radius: 8px;
    padding: 12px 15px;
}

.resume a, .resume a:visited, .resume a:active {
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.resume a:hover {
    color: #9e9e9e;
}