/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Playfair+Display&family=Roboto+Slab:wght@300;400&display=swap");

:root {
  --color1: #3c3c3c;
  --color2: #252526;
  --color3: #2d2d2d;
  --color4: #1e1e1e;
  --color5: #37373d;
  --color6: #333333;
  --color7: #16825d;
  --color8: #007acc;
  --color9: #999999;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color4);
}

.text1 p {
  align-items: center;
  margin: 40px;
  width: 60%;
}

.main-box {
  background-color: var(--color2);
  width: 50%;
  height: 30vh;
  left: 50%;
  top: 50%;
  padding: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  /* overflow-x: hidden;
    overflow-y: hidden; */
  overflow: auto;
}

.box-shadow {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.main-box h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  margin: auto;
  padding: 38px;
  font-size: 32px;
  font-family: "Roboto Slab", serif;
}

.main-box p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
  font-family: "Roboto Slab", serif;
}
