* {
    margin: 0;
    padding: 0;
}

:root {
    --bars: 80px;
    --tint: rgba(0, 0, 0, 0.6);
}

::selection {
    background: #1e1e1e;
}

.background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url("../images/inferno.jpg") no-repeat center center;
    background-size: cover;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--tint);
}

#top {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: var(--bars);
    background-color: black;
    z-index: 10;
}

#bottom {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    height: var(--bars);
    background-color: black;
    z-index: 10;
}
