@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Playfair+Display&display=swap');
:root {
    --color1: #3c3c3c;
    --color2: #252526;
    --color3: #2d2d2d;
    --color4: #1e1e1e;
    --color5: #37373d;
    --color6: #333333;
    --color7: #16825d;
    --color8: #007acc;
    --color9: #bbbbbb;
    --color10: #7e7e7e;
}

header{
    font-family: 'Playfair Display', serif;
    position: sticky;
    top: 0;
    z-index: 99999999;
}

header:after {
    background-color: var(--color2);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--color2); */
    background-color: none;
    padding: 8px 4%;
}

.logo {
    position: relative;
    margin: auto;
    color: #a5a5a5;
    font-family: 'Oleo Script', cursive;
    font-size: 28px;
}

.logo span {
    /* font-weight: 900;
    font-size: 22px; */
    color: var(--color5);
}

.logo:hover {
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 12px;
}

nav ul li a {
    color: var(--color10);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--color9);
    transition: 0.2s;
}

.navbar ul {
    position: relative;
}

.navbar button {
    background: none;
    border: 2px solid var(--color10);
    color: var(--color10);
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    border-radius: 50px;
    padding: 4px 2%;
}

.navbar button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--color10);
    color: var(--color9);

}

.getstarted button {
    position: absolute;
    top: 60%;
    left: 16%;
    background: none;
    border: 2px solid var(--color10);
    color: var(--color10);
    font-size: 16px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    border-radius: 50px;
    padding: 6px 1%;
}

.getstarted button:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: var(--color10);
    color: var(--color9);

}
